<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bubble sort</title>
</head>
<body>
<a th:href="@{/bubble/add}">Add bubble</a>
<br>
<br>
<a th:href="@{/bubble/array/add}">Add bubble array</a>
<br>
<br>
<h1>Array:</h1>
<form th:action="@{/bubble/start}" method="post">
    <button type="submit">Start</button>
</form>
<br>
<table>
    <tr>
        <div th:each="bubble : ${bubbles}">
            <td th:style="'font-size: 300%; color: ' + ${bubble.color}" th:text="${bubble.value}"></td>
            <td style="font-size: 300%" th:text="${bubble.comma}"></td>
        </div>
    </tr>
</table>
<br>
<table>
    <tr th:if="${expressionShown}">
        <td th:style="'font-size: 200%; color: ' + ${leftBubble.color}" th:text="${leftBubble.value}"></td>
        <td style="font-size: 200%"> ></td>
        <td th:style="'font-size: 200%; color: ' + ${rightBubble.color}" th:text="' ' + ${rightBubble.value}"></td>
        <td style="font-size: 200%"> ?</td>
    </tr>
</table>
<br>
<div style="font-size: 150%; color: red" th:text="${actionResult}"></div>
<br>
<form th:action="@{/bubble/action}" method="post">
    <input type="hidden" name="leftBubbleIndex" th:value="${leftBubble.index}">
    <input type="hidden" name="rightBubbleIndex" th:value="${rightBubble.index}">
    <div th:if="${yesNoShown}">
        <button type="submit" name="yes">Yes, swap</button>
        <button type="submit" name="no">No</button>
    </div>
    <div th:if="${nextShown}">
        <button type="submit" name="next">Next</button>
    </div>
</form>
</body>
</html>