<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<form th:action="@{/}" method="post">
    <div>
        <div><input type="checkbox" name="sortNames" value="bubble">Bubble</div>
        <div><input type="checkbox" name="sortNames" value="insertion">Insertion</div>
        <div><input type="checkbox" name="sortNames" value="merge">Merge</div>
        <div><input type="checkbox" name="sortNames" value="quick">Quick</div>
        <div><input type="checkbox" name="sortNames" value="selection">Selection</div>
        <div><input type="checkbox" name="sortNames" value="shell">Shell</div>
    </div>
    <br>
    <div>
        Left border:
        <input type="text" name="leftBorder">
    </div>
    <br>
    <div>
        Right border:
        <input type="text" name="rightBorder">
    </div>
    <br>
    <div>
        Size:
        <input type="text" name="arraySize">
    </div>
    <br>
    <div>
        Iteration quantity:
        <input type="text" name="iterationQuantity">
    </div>
    <br>
    <button type="submit">Go</button>
</form>
</body>
</html>