<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Selection sort</title>
</head>
<body>
<h1>Array:</h1>
<form th:action="@{/selection/select}" method="post">
    <table>
        <tr>
            <div th:each="selection : ${selections}">
                <td>
                    <button type="submit" th:style="'font-size: 300%; color: ' + ${selection.color}"
                            name="selectedIndex" th:text="${selection.value}"
                            th:value="${selection.index}"></button>
                </td>
                <td style="font-size: 300%" th:text="${selection.comma}"></td>
            </div>
        </tr>
    </table>
</form>
<br>
<div th:if="${selectShown}" style="font-size: 200%">Select the smallest number</div>
<br>
<div th:if="${formShown}">
    <form th:action="@{/selection/action}" method="post">
        <input type="hidden" name="firstSelectedIndex" th:value="${firstSelectedIndex}">
        <input type="hidden" name="secondSelectedIndex" th:value="${secondSelectedIndex}">
        <div th:if="${swapShown}">
            <button type="submit" name="swap">Swap</button>
        </div>
        <br>
        <div th:if="${nextShown}">
            <button type="submit" name="next">Next</button>
        </div>
    </form>
</div>
</body>
</html>